@import "tailwindcss";
@font-face {
  font-family: "poppins";
  src: url("./assets/font/montserrat-regular.ttf");
}
* {
  font-family: "poppins" !important;
  scroll-behavior: smooth;
}
.leftToRight {
  animation: leftToRight 2s ease-in-out;
}
.rightToLeft {
  animation: rightToLeft 3s ease-in-out;
}
.topToBtm {
  animation: topToBtm 1.5s ease-in-out;
}
@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topToBtm {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* @media only screen and (max-width: 1024px) {
} */
